body {
    font-family: Verdana, Geneva, sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 1000px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(195, 195, 209);
}

.hero-main,
.footer {
    background-color: #1F2937;
    width: 70vw;
}

.hero-main {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 100px 100px;
    gap: 20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.card-signup {
    color: #3882F6;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

.infocard-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

}