body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, Geneva, sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1 0 1000px; */
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(195, 195, 209);
}

.hero-main,
.hero-secondary,
.quote,
.sign-up,
.footer {
    width: 60vw;
}

.hero-main {
    display: flex;
    flex-direction: column;
    padding: 10px 200px 200px 200px;
    gap: 20px;
    background-color: #1F2937;
}

.hero-welcome {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.hero-welcome > img {
    width: auto;
    height: 250px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.hero-welcome .card-signup {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(59,130,246);
    padding: 10px 30px;
    border: 0px;
    border-radius: 10px;
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.welcome-infocard {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 10px;
    align-items: flex-start;
}

.infocard-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.infocard-text {
    color: rgb(236, 235, 235);
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;

}